@import "variables";

@import "normalize";

html, body {
	font-family: 'Open Sans', sans-serif;
	min-width: 320px;
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.clearfix:after {
	content: "";
	display: table;
	clear:both;
}

a {
	text-decoration: none;
	&:hover, &:active , &:visited, &:focus  {
		text-decoration: none;
		outline: none;
	}
}

button {
	border: none;
	outline: none;
}

%nav-reset {
	margin: 0;
	padding: 0;
	list-style: none;
}


/*========== Header ==========*/


.header-bg {
	background: $theme-color-1 url('../img/rule-bottom.png') left bottom repeat-x;
	.header-wrapper {
		padding-top: 15px;
		padding-bottom: 0px;
	}
}

.header-logo {
	float: left;
	margin-top: -7px;
	a {
		color: #fff;
		&:hover {
			opacity: 0.8;
		}
	}
	span:first-child {
		text-transform: uppercase;
		font-weight: 800;
		font-size: 30px;
	}
	span:last-child {
		font-size: 25px;
	}
}


/*========== Main menu ==========*/


.navbar-custom {
	padding-top: 8px;
	margin-bottom: 15px;
	background:$theme-color-1;
	border-color: $theme-color-1;
	position: relative;
}

.main-nav {
	float: right;
	& > li {
		& > a {
			font-size: 13px;
			text-transform: uppercase;
			padding: 5px 15px;
			margin-right: 20px;
			color: #fff !important;
			border-radius:4px;
			border-bottom: 3px solid $theme-color-1;
			transition: all ease-out 0.1s;
		}
		&:last-child > a {
			margin-right: 0;
		}
		&.active > a, & > a:hover {
			background: rgba(0,0,0,0.2) !important;
			border-bottom: 3px solid rgba(0,0,0,0.25) !important;
		}
		a:focus, a:active {
			background: $theme-color-2 !important;
			border-color: darken($theme-color-2, 10%) !important;
		}
	}
}

#fb-contacts {
	p {
		font-size: 13px;
		color: $theme-color-2;
		span {
			margin-left: 20px;
			font-size: 20px;
			font-weight: 600;
			font-style: italic;
		}
		&.phone {
			margin-top: 15px;
		}
	}
}


/*========== Dropdown submenu ==========*/


.portfolio {
	&.open > a {
		background: $theme-color-2 !important;
		border-color: darken($theme-color-2, 10%) !important;
	}
	.portfolio-dropdown-menu {
		width: 200px;
		margin-top: 12px !important;
		background:$theme-color-2;
		border:none;
		border-radius: 4px !important;
		padding: 3px 0px;
		&:before {
			content: "";
			border-top: 8px solid transparent;
			border-right: 8px solid transparent;
			border-left: 8px solid transparent;
			border-bottom: 8px solid $theme-color-2;
			position: absolute;
			top:-15px;
			left:10px;
		}
		li {
			padding: 3px 6px;
		}
		a {
			padding: 5px 10px;
			border-radius: 3px;
			border-bottom: none;
			color: #fff;
			font-size: 13px;
			background-color: rgba(255,255,255, 0.15);
			transition: all ease-out 0.2s;
			&:hover {
				background-color: $theme-color-1; 
				color: #fff;
			}
		}
	}
}


/*========== Search form ==========*/


.search-form {
	float: right;
	position: relative;
	margin-left: 30px;
	input {
		border: none;
		outline: none;
	}
}

.search-field {
	position: absolute;
	right: 35px;
	z-index: 10;
	width: 210px;
	padding: 5px;
	border-radius: 4px;
	background-color: rgba(0,0,0,0.2);
	display: none;
	input[type="search"] {
		background: #fff;
		width: 100%;
		padding: 4px;
		border-radius: 2px;
	}
}

.search-btn {
	margin-left: 10px;
	button {
		cursor: pointer;
		border: none;
		width: 33px;
		height: 33px;
		border-radius: 4px;
		transition: all ease-out 0.2s;
		i {
			color: #fff;
			padding-top: 2px;
		}
		background: $theme-color-1;
		border-bottom: 3px solid $theme-color-1;
		&:hover {
			background-color: rgba(0,0,0,0.2);
			border-bottom: 3px solid rgba(0,0,0,0.25);
		}
	}
}


/*========== Main Slider ==========*/


.slider-wrapper {
	padding-bottom: 30px;
	background:#f3f3f3;
}

.main-slider {
	.item {
		max-height: 500px;
		.carousel-caption {
			top:25%;
			left: 36%;
			right: 36%;
		}
	}
	h1 {
		display: inline-block;
		padding: 0px 12px;
		margin-top: 10px;
		margin-bottom: 12px;
		color: #fff;
		text-transform: uppercase;
		font-size: 50px;
		font-weight: 800;
		background: $theme-color-2;
		border-radius: 5px;
	}
	p {
		padding: 7px 25px 12px;
		color: #fff;
		font-size: 16px;
		line-height: 26px;
		background:rgba(0,0,0, 0.6);
		border-radius: 5px;
	}
}

.carousel-indicators {
	bottom: -40px;
	li {
		width: 59px;
		height: 5px;
		border-radius: 0;
		background:#b0b8b9;
		border:none;
		margin: 0;
		margin-right: 6px;
		&.active {
			background:$theme-color-2;
			width: 59px;
			height: 5px;
			margin-right: 6px;
		}
	}
}

.carousel-control {
	width: 0;
	opacity: 1;
	span {
		display: block;
		width: 50px;
		height: 60px;
		background:$theme-color-2;
		border-bottom: 3px solid darken($theme-color-2, 12%);
		line-height: 57px;
		&:hover {
			background: darken($theme-color-2, 5%);
			border-color: darken($theme-color-2, 15%);
		}
	}
	&.left {
		top:44%;
		left:0px;
		span {
			border-radius: 0 4px 4px 0;
		}
	}
	&.right{
		top:44%;
		right: 50px;
		span {
			border-radius: 4px 0 0 4px;
		}
	}
}


/*========== Services ==========*/


.services-bg {
	padding-top: 20px;
	padding-bottom: 60px;
	background:#f3f3f3;
}

.services-header {
	background:#ececec;
	border-radius: 5px;
	padding-left: 25px;
	padding-right: 25px;
	margin-bottom: 50px;
	&-left {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	&-right {
		padding: 20px 40px;
	}
	h2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 30px;
		color: $h-color;
		font-weight: 600;
	}
	p {
		margin: 0;
		margin-bottom: 3px;
		font-size: 13px;
		line-height: 20px;
		color: $p-color;
	}
	a {
		display: inline-block;
		color: #fff;
		text-transform: uppercase;
		font-size: 20px;
		padding: 12px 0px;
		width: 100%;
		text-align: center;
		border-radius: 5px;
		background:$theme-color-2;
		border-bottom: 4px solid darken($theme-color-2, 7%);
		&:hover {
			background: darken($theme-color-2, 5%);
			border-color: darken($theme-color-2, 10%);
		}
	}
}

.services-item {
	position: relative;
	min-height: 310px;
	padding-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 15px;
	text-align: center;
	background:#f8f8f8;
	border-radius: 5px;
	border-bottom: 4px solid #e5e6e6;
	transition: all ease-out 0.2s;
	span {
		color: $theme-color-1;
		transition: all ease-out 0.2s;
	}
	h3 {
		margin-top: 12px;
		margin-bottom: 25px;
		text-transform: uppercase;
		font-size: 16px;
		font-weight: 800;
		color: $h-color;
	}
	p {
		font-size: 13px;
		line-height: 21px;
		color: $p-color;
	}
	a {
		position: absolute;
		left: 50%;
		margin-left: -100px;
		bottom: -25px;
		color: #fff;
		text-transform: lowercase;
		font-size: 14px;
		font-weight: 600;
		padding: 13px 0px;
		width: 200px;
		text-align: center;
		border-radius: 5px;
		background:$theme-color-1;
		border-bottom: 4px solid darken($theme-color-1, 7%);
		transition: all ease-out 0.2s;
	}
	&:hover {
		background:#fff;
		span {
			color: $theme-color-2;
		}
		a {
			background:$theme-color-2;
			border-bottom: 4px solid darken($theme-color-2, 7%);
		}
	}
	a:hover {
		background: darken($theme-color-2, 5%);
		border-color: darken($theme-color-2, 10%);
	}
}


/*========== Why-modus ==========*/


.why-modus {
	padding-bottom: 40px;
	background: url(../img/rule-white-top.png) repeat-x, 
	linear-gradient(to bottom, #ececec 400px, #f3f3f3 400px, #f3f3f3);
}

.why-modus-header {
	text-align: center;
	padding-top: 45px;
	margin-bottom: 65px;
	h2 {
		font-size: 40px;
		font-weight: 600;
		color: $theme-color-2;
		text-transform: uppercase;
		margin-bottom: 5px;
	}
	p {
		font-size: 13px;
		line-height: 20px;
		color: $p-color;
	}
}


/*========== Why-modus Images ==========*/


.why-modus-images {
	padding-top: 55px;
	padding-bottom: 50px;
	margin-bottom: 30px;
	position: relative;
	.screen-bg {
		padding: 16px 5px 5px;
		background: #B0B8B9;
		border-radius: 8px;
		.circle {
			display: inline-block;
			width: 12px;
			height: 12px;
			border-radius: 50%;
			background:#ececec;
			margin-left: 4px;
			margin-bottom: 12px;
		}
		.oval {
			float: right;
			width: 12px;
			height: 6px;
			border-radius: 3px;
			background:#ececec;
			margin-top: 3px;
			margin-right: 8px;
		}
	}
	.screen-2 {
		position: absolute;
		top:0px;
		left:25%;
		z-index: 10;
		.screen-bg {
			height: 360px;
			background:#C1C7C8;
			box-shadow: 0 0 10px rgba(0,0,0, 0.6);
		}
	}
	img {
		border-radius: 6px;
	}
}

.why-modus-images {
	.img-1 {
		border-radius: 6px;
		overflow: hidden;
		height: 210px;
	}
	.img-2 {
		border-radius: 6px;
		overflow: hidden;
		height: 310px;
	}
	.img-3 {
		border-radius: 6px;
		overflow: hidden;
		height: 210px;
	}
}


/*========== Why-modus Description ==========*/


.why-modus-description {
	margin-bottom: 40px;
}

.why-choose {
	h3 {
		font-size: 16px;
		font-weight: 800;
		color: $h-color;
		margin-bottom: 30px;
	}
	ul {
		@extend %nav-reset;
	}
	li {
		font-size: 13px;
		line-height: 26px;
		color: $p-color;
		i {
			color: $theme-color-2;
			margin-right: 5px;
		}
	}
}

.why-raiting {
	text-align: center;
	& > div {
		padding-left: 0;
		padding-right: 0;
	}
	p {
		font-size: 13px;
		line-height: 26px;
		color: $p-color;
		margin-top: 16px;
		margin-bottom: 55px;
		a {
			color: $theme-color-2;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	h2 {
		height: 58px;
		color: $h-color;
		font-size: 30px;
		font-weight: 800;
		margin: 0;
		padding-top: 30px;
	}
	h3 {
		color: $h-color;
		font-size: 16px;
		font-weight: 800;
		text-transform: uppercase;
		margin-left: 6px;
	}
	h2 {
		position: relative;
		.outer-cls {
			position: absolute;
			top:0px;
			left:50%;
			margin-left: -60px;
			.inner-cls{
				position: absolute;
				top:0;
				left:0;
			}
			.cls-1 {
				fill: $theme-color-1;
				fill-rule: evenodd;
			}
			.cls-2 {
				fill: $theme-color-2;
				fill-rule: evenodd;
			}
		}
	}
}

.why-testimonials {
	h3 {
		font-size: 16px;
		font-weight: 800;
		color: $h-color;
		margin-bottom: 30px;
	}
	p {
		font-size: 13px;
		line-height: 26px;
		color: $p-color;
		font-style: italic;
		padding: 5px 18px 10px;
		background:#f8f8f8;
		border-radius: 4px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			bottom: -23px;
			left: 20px;
			border-top: 12px solid #f8f8f8;
			border-right: 12px solid #f8f8f8;
			border-bottom: 12px solid transparent;
			border-left: 12px solid transparent;
		}
	}
	h4 {
		margin-left: 65px;
		font-size: 16px;
		font-weight: 600;
		color: $p-color;
	}
}


/*========== Happy clients ==========*/


.happy-clients {
	&-top {
		margin-bottom: 35px;
	}
	h3 {
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		font-weight: 800;
		color: $h-color;
		margin-top: 0px;
		margin-right: 14px;
	}
	.horisontal-line {
		display: inline-block;
		vertical-align: middle;
		margin-right: -4px;
		position: relative;
		bottom: 4px;
		width: 75%;
		height: 1px;
		background:#e1e2e2;
		.circle {
			position: absolute;
			width: 7px;
			height: 7px;
			border-radius: 50%;
			background:#e1e2e2;
			left:0;
			top:-3px;
			cursor: pointer;
		}
	}
	.buttons-select {
		float: right;
		margin-top: -9px;
		button {
			width: 40px;
			height: 40px;
			border-radius: 4px;
			background:lighten($h-color, 25%);
			text-align: center;
			cursor: pointer;
			border-bottom: 3px solid $h-color;
			transition: all ease-out 0.2s;
			i {
				font-weight: 800;
				color: #fff;
			}
			&:hover {
				background:$theme-color-2;
				border-color: darken($theme-color-2, 12%);
			}
		}
		.swiper-left {
			margin-right: 15px;
			i {
				margin-right: 5px;
			}
		}
		.swiper-right i{
			margin-left: 5px;
		}
	}
	.client-item {
		margin-bottom: 15px;
		div {
			background:#f8f8f8;
			min-height: 90px;
			border-radius: 5px;
			text-align: center;
			padding: 5px;
		}
	}
}


/*========== Footer ==========*/


.page-footer {
	background:$theme-color-1 url('../img/rule-top.png') left top repeat-x;
}

.footer-top {
	padding-top: 30px;
	padding-bottom: 10px;
}

.bottom-logo {
	@extend .header-logo;
	float: none;
	margin-bottom: 15px;
}
.contacts {
	padding-top: 15px;
	padding-bottom: 15px;
	p {
		font-size: 13px;
		line-height: 23px;
		color: #fff;
		margin-bottom: 15px;
		span {
			margin-left: 20px;
			font-size: 20px;
			line-height: 36px;
			font-weight: 600;
			font-style: italic;
		}
	}
	.phone {
		margin-bottom: -5px;
	}
}

.company, .community {
	padding-top: 15px;
	padding-bottom: 15px;
	h4 {
		font-size: 20px;
		color: rgba(0,0,0,0.5);
		font-weight: 600;
		margin-top: 5px;
		margin-bottom: 20px;
	}
	ul {
		@extend %nav-reset;
		padding-left: 25px;
	}
	li {
		line-height: 24px;
	}
	span {
		margin-right: 10px;
		color: #fff;
	}
	a {
		color: #fff;
		font-size: 13px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.from-blog {
	padding-top: 15px;
	padding-bottom: 15px;
	h3 {
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 5px;
		margin-bottom: 25px;
		color: #fff;
		font-weight: 600;
		span {
			font-weight: normal;
			font-style: italic;
			text-transform: lowercase;
		}
	}
}

.blog-comment {
	min-height: 70px;
	margin-bottom: 20px;
	.blog-img {
		float: left;
		width: 72px;
		height: 70px;
		background-color: rgba(0,0,0,0.2);
		padding-top: 22px;
		text-align: center;
		border-radius: 5px;
	}
	p {
		margin-left: 90px;
		font-size: 13px;
		line-height: 20px;
		color: #fff;
		margin-bottom: 0px;
		&.comment-time {
			color: rgba(0,0,0,0.5);
		}
	}
}

.footer-bottom {
	background-color: rgba(0,0,0,0.1);
	padding-top: 15px;
	padding-bottom: 15px;
	.copyright {
		float: left;
		font-size: 13px;
		color: #fff;
		margin-top: 5px;
	}
	.social {
		float: right;
		a {
			display: inline-block;
			color: transparent;
			width: 24px;
			height: 24px;
			margin-left: 16px;
			background: url('../img/social-sprite.png') no-repeat;
			opacity: 1;
			&:hover {
				opacity: 0.8;
			}
		}
		.fb {
			background-position: -13px -19px;
		}
		.goo {
			background-position: -69px -19px;
		}
		.tw {
			background-position: -190px -19px;
		}
		.rss {
			background-position: -131px -19px;
		}
	}
}



/*========== MEDIA ==========*/



@media (min-width: 1200px) {
	.container {width: 1200px;}
}

@media (max-width: 1200px) {

	.main-nav > li > a{
		margin-right: 10px;
	}

	.search-form {
		margin-left: 0px;
	}

	.main-slider .item .carousel-caption {
		left: 30%;
		right: 30%;
	}

	.why-modus-images .img-2 img {
		min-width: 440px;
		height: 100%;
	}

	.why-raiting {
		margin-bottom: 20px;
		p {
			margin-bottom: 20px;
		}
	}

	.happy-clients .horisontal-line {
		width: 70%;
	}

}

@media (max-width: 1024px) {

	.main-slider .item .carousel-caption {
		top:24%;
		left: 20%;
		right: 20%;
	}

	.happy-clients .horisontal-line {
		width: 60%;
	}

}

@media (max-width: 991px) {

	.search-field {
		display: block;
	}

	.main-nav {
		float: left;
		margin-top: 10px;
		& >li > a {
			margin-right: 15px;
		}
	}

	.services-item a {
		padding: 10px 0;
		bottom: 15px;
		margin-left: -70px;
		width: 140px;
	}

	.why-modus-images .screen-2 {
		left:17%;
	}

}

@media (max-width: 767px) {

	.header-bg .header-wrapper {
		padding-top: 8px;
	}

	.header-logo {
		margin-top: 0;
	}

	.navbar-custom {
		padding-top: 3px;
		margin-bottom: 15px;
	}

	.main-nav {
		float: right;
		margin-top: 15px;
		li {
			text-align: center;
			a {
				min-width: 250px;
				margin-right: 0;
			}
		}
	}

	.main-nav-btn.navbar-toggle {
		border: 2px solid #fff;
		margin-right: 0;
		&:hover, &:focus {
			background-color: darken($theme-color-1, 10%);
		}
		.icon-bar {
			background-color: #fff;
		}
	}

	.portfolio .portfolio-dropdown-menu {
		width: 100%;
	}

	.navbar-nav .open .portfolio-dropdown-menu {
		background-color: $theme-color-2;
		position: relative;
		a {
			color: #fff !important;
			min-width: 238px;
			&:hover {
				background-color: $theme-color-1 !important;
			}
		}
	}

	.search-form {
		position: absolute;
		top: 10px;
		right: 60px;
		width: 180px;
		.search-field {
			position: static;
			display: block;
			float: left;
			margin-top: 7px;
			width: 130px;
			padding: 0px;
			border-bottom: none;
		}
		.search-btn {
			position: static;
			display: inline-block;
			vertical-align: middle;
			padding-top: 2px;
			margin-left: 5px;
		}
	}

	.main-slider {
		.item .carousel-caption {
			top:3%;
		}
		h1 {
			font-size: 30px;
		}
		p {
			font-size: 14px;
		}
	}

	.services-header {
		text-align: center;
		a {
			width: 240px;
		}
	}

	.services-item {
		padding-top: 20px;
	}

	.why-modus-images img {
		min-width: 345px;
		height: auto;
	}

	.why-modus-images .screen-2 img {
		min-width: 530px;
		height: auto;
	}

	.why-modus-images .screen-2 {
		left:9%;
	}

	.happy-clients {
		h3 {
			display: block;
		}
		.horisontal-line {
			width: 75%;
		}
	}

}

@media (max-width: 480px) {

	.search-form {
		position: static;
		float: left;
		margin-left: 0;
		width: 100%;
		margin-bottom: 5px;
		.search-field {
			width: 60%;
		}
	}

	.main-nav {
		float: none;
	}

	.main-nav > li > a{ 
		width: 100%;
	}

	.slider-outer {
		display: none;
	}

	.services-bg {
		padding-bottom: 30px;
	}

	.services-header a {
		width: 200px;
	}

	.services-item-wrapper {
		float: none;
		width: 100%;
	}

	.why-modus-header {
		padding-top: 15px;
	}

	.why-modus-images {
		.screen-1, .screen-3 {
			visibility: hidden;
		}
		.screen-2 {
			width: 100%;
			left:0;
			padding-left: 0;
			padding-right: 0;
		}
	}

	.why-choose,.why-testimonials {
		float: none;
		width: 100%;
	}

	.rait-50, .rait-70, .rait-80, .rait-100 {
		width: 50%;
		margin-bottom: 10px;
	}

	.happy-clients {
		.horisontal-line {
			width: 63%;
		}
	}

	.company, .community {
		float: none;
		width: 100%;
	}

}